.tst {
    border: solid;
}
.weatherbit {
    justify-content: space-between;
}
ul {
    list-style: none
}
li {
    border: solid;
    padding: 0px 4px;
}
.pastsearch li {
    display: flex;
    justify-content: center;
    width: 100%;
}
